body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: black;   
}

h1, h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size:2em;
}

#About{
    background-image:url(https://wallpapercave.com/wp/wp3668854.jpg);
    background-size:cover;
    background-blend-mode: lighten;
    color: black;
    padding: 10em 10em 10em 10em;
    margin: 0;
    height: fit-content;
    text-align: left;
    justify-content:center;
    align-items: center;
    font-size: larger;
}

img{
   width:10em;
   height:18em;
   float:right;
   border-radius: 10%;  
}

#Projects{
    background-color:azure;
    margin:0;
    padding: 1em;
    color: black;
    text-align: center;   
}

.main-element{
    text-align: start;
    padding: 0;
    text-wrap: 1;
    float:left;
}


nav li{
    display: inline;
    margin: 0%;
    text-align:center;
    padding:5em;
    justify-items: auto;
    align-items: start;

}

.flex-container-1, .flex-container-2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin:0;
    flex-grow: 1em;
}


.flex-item{
    background-image: url(https://wallpapercave.com/wp/wp3668856.jpg);
    margin:2em;
    background-size: cover;
    flex: 1;
    padding: 2em;
    font-size: 1.5em;
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-blend-mode:multiply;
    background-color: rgba(0,0,0,0.2);
    color:black;
    box-sizing: border-box;
    border-radius: 10%;
    border-color:black;
}

.flex-item:hover{
    color:darkblue;
    flex: 2;
}

.flex-item button:checked{
    background-color: palegoldenrod;
    content: "Visited";
    
}

#Skills{
    text-align: center;
    background-color:azure;
    margin: 0;
    padding: 1em;
}

.grid-container{
    display: grid;
    row-gap: 10px;;
    column-gap: 10px;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 2em;
    margin: 0;
}

.box:hover{
    color: antiquewhite;
    background-color: rgba(0,0,0,0.2);
}

.grid-item-1{
    padding: 12px;
    border: 2px solid blue;
    justify-items: center;
    align-items: center;
    height: auto;
    grid-column: span 2;
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.Lre4YEzrV3g1szrwV8aE1gHaEK&pid=Api&P=0&h=180);
    background-size: cover;
    background-blend-mode: multiply ;
    background-color: rgba(0,0,0,0.6);
}

.grid-item-2{
    padding: 12px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: auto;
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.kpL6l_D7E_nd-NuIzSavuwHaEz&pid=Api&P=0&h=180);
    background-size: cover;
    background-blend-mode: multiply ;
    background-color: rgba(0,0,0,0.6);
}

.grid-item-3{
    padding: 12px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: auto;
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.s0ccH3wyJk_DFstL-gZvtgHaE8&pid=Api&P=0&h=180);
    background-size: cover;
    background-blend-mode: multiply ;
    background-color: rgba(0,0,0,0.6);
}

.grid-item-4{
    padding: 12px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: auto;
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.OQIFYBtr-ahF6A4dPTnwvwHaE8&pid=Api&P=0&h=180);
    background-size: cover;
    background-blend-mode: multiply ;
    background-color: rgba(0,0,0,0.6);
}

.grid-item-5{
    padding: 12px;
    border: 2px solid blue;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: auto;
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.d16RgNEdLUJVzGGZ0wtDtAHaHa&pid=Api&P=0&h=180);
    background-size: cover;
    background-blend-mode: multiply ;
    background-color: rgba(0,0,0,0.6);
}

.grid-item-6{
    padding: 12px;
    border: 2px solid blue;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: auto;
    background-image: url(https://ii1.pepperfry.com/media/catalog/product/m/a/1100x1210/masaki-study-table-with-4-drawers-in-walnut-brown-finish-by-mintwud-masaki-study-table-with-4-drawer-vcybrj.jpg);
    background-size: cover;
    background-blend-mode: multiply ;
    background-color: rgba(0,0,0,0.6);
}

#Links li{
    display: inline;
    padding-inline: 5em;
}

.real-link{
    float:right;
}

#Contact{
    text-align: center;
    color: aliceblue;
    justify-items: center;
    padding-top: 10em;
    align-items:center;
    background-image: url(https://thumbs.dreamstime.com/b/phone-call-icon-vector-contact-support-design-designs-153069465.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.6);
    height: 50em;
    background-position: 50%;
    margin:5px;
    border-color: black;
    font-size: 20px;
}

.field{
    padding: 1em;
    margin:5px;
    border-color: black;
}

input{
    margin:2px;
    border:2px;
    border-color: black;
    size: 20em;
}

